<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/xkcd.css' />
  </head>
  <body>
    <!-- There are two ways to use EJS.  
          With the = will evaluate the expression and insert 
          the result in the html -->
    <p><%= message %></p>
  </body>
</html>