<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if (obj.length) { %>
			[</br>
				<% obj.forEach(function(next) { %>
				<%= JSON.stringify(next) %></br>
			<% }); %>
			]
		<% } %>
	</body>
</html>